{% load static %}


<!DOCTYPE html>
<html>
<head>

    <title>Shawana Iqbal</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet"
    type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body style="background-color:powderblue;">
    <br>
    <div class="container">
        <div class="row" id="div2">
            <div class="col-md-3 ">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/mypic.jpg' %}" width="100" height="200" >
                    <hr>
                    <h4>Hi I'm Shewana Iqbal</h4>
                    <p>If you have an empty slot, I have the card to fill it. </p>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class="card card-body h-100 border-info">
                <h3>About me !</h3>
                <br>
                <p> I'm good in problem solving and have patience to listen others point of views
                    ,  I collaborate with all members with positive attitude and my communication skills are inclusive. I
                    can compromise for common good. I like to work with people who came with different backgrounds because it increases creativity,
                    innovation and strategic thinking.</p>
                <p>Throughout my career,  I am adept at : Python, django, SQL, 
                    Html, Java, CSS, c#, MS office,Project Managment ,Software quality Managment etc</p>
                <p>I am now seeking the opportunity to further contribute my skills
                    and expertise in a dynamic and challenging role </p>
                <p>My passion for my field and commitment to continuous learning make me 
                    a valuable asset in achieving shared objectives.</p>
                
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 ">
                <div class="card card-body ">
                <h3>Education</h3>
                <p> I'm doing my BACHELOR OF SOFTWARE ENGINEERING from GOVERNMENT COLLEGE UNIVERSITY,FAISALABAD</p>
                <p>HSSC--- PUNJAB COLLEGE FOR GIRLS HASILPUR with A+ grades in 2017-2019</p>
                <p>SSC--- GOVR.GIRLS H/S HASILPUR MANDI with A+ grades in 2015-2017</p>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="card card-body ">
                <h3> Hobbies </h3>
                <p>I love calligraphy, learning new languages specially of my field, photography, and art </p>
                <p>I'm currently running YouTube Channel,I creates videos based on latest techniques, programming tricks, lectures related to
                    my subjects for my class and for juniors <p/>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 ">
                <div class="card card-body ">
                <h4>Address: </h4>
                <p>Nazimabad villas ,street # 4, House # 49, 38000, Faisalabad, Pakistan
                </p>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="card card-body ">
                <h3>Social links :-</h3>
                <ul class ="social-links">
                    <a href="https://youtube.com/@shewanaiqbal7450?si=OuzxdoptNAtnTkDC">
                    <li><img class="social"src ="{% static 'images/yout.png' %}" width="20" height="20"></li></a>
                    <a href="https://instagram.com/shewana_iqbal?igshid=NGVhN2U2NjQ0Yg==">
                    <li><img class="social"src ="{% static 'images/ins.jpg' %}" width="20" height="20"></li></a>
                    <a href="shewanaiqbal.14@gmail.com">
                    <li><img class="social"src ="{% static 'images/gmail.png' %}" width="20" height="20"></li></a>
                </ul>
                </div>
            </div>
        </div>
        <br>
    </div>


</body>
</html>